/*
Carlos Rios
07/07/2024
style.css
*/
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

/* The div element that houses all other elements and orients them appropriately*/
.Start {
    background-color: transparent;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 70vh;
}

/* Centers the etable element in the middle of the screen*/
.shell {
    display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: auto;
    text-align: center;
    width: auto;
	margin: auto;
}

/* The style for the "Space Battle" title*/
.Title {
    display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
	font-size: 5vw;
    font-family: "Comic Sans MS";
    color: white;
	width: auto;
	margin: 6% auto;
	padding: 2%;
	border: none;
	border-radius: 5px;
}

/* The style for the ahievement section*/
.Instructions {
    background-color: white;
    display: none;
	justify-content: center;
	align-items: center;
    text-align: center;
	font-size: 1.6vw;
    color: black;
	width: auto;
	margin: 6% auto;
	border: none;
	border-radius: 5px;
	font-family: "Comic Sans MS";
}

/* The style for the score that is displayed in the game over section*/
.fScore {
    background-color: white;
    display: none;
	justify-content: center;
	align-items: center;
    text-align: center;
	font-size: 2vw;
    color: black;
	width: auto;
	margin: 2% auto;
	padding: 2%;
	border: none;
	border-radius: 5px;
	font-family: "Comic Sans MS";
}

/* Styling for some of the buttons used in the menu system*/
.Submit {
    display: flex;
	justify-content: center;
	align-items: center;
    color: black;
    background-color: white;
	font-size: 2vw;
	width: auto;
	margin: 3% auto;
	padding: 2%;
	border: none;
	border-radius: 20px;
	font-family: "Comic Sans MS";
}

/* The hover effect for all buttons in the game*/
.Submit:hover, .Submit2:hover, .Submit3:hover {
	font-weight: bold;
}

/* Styling for some of the buttons used in the menu system*/
.Submit2 {
    display: none;
	justify-content: center;
	align-items: center;
    color: black;
    background-color: white;
	font-size: 2vw;
	width: auto;
	margin: 3% auto;
	padding: 2%;
	border: none;
	border-radius: 20px;
	font-family: "Comic Sans MS";
}

/* The table element that helps structure the entire menu system*/
.Etable {
	border-collapse: collapse;
	border: 5px solid;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
	width: auto;
	font-size: 1.8em;
}

/* Styles the input element for the player name*/
input {
    display: none;
    padding: 20px;
    font-size: 2vw;
    border-radius: 20px;
    border: none;
}

/* Styling for the div element that displays the player's highest score and level*/
.Flex1 {
	display:none;
	font-size: 2vw;
	background-color: white;
	justify-content: center;
	align-items: center;
    text-align: center;
	width: auto;
	border-top: solid gold 5px;
	border-right: solid gold 5px;
	border-left: solid gold 5px;
	border-radius: 5px 5px 0px 0px;
	padding: auto;
	font-family: "Comic Sans MS";
}

/* Styling for the div element that holds the elements related to enemies in the achievement section*/
.Flex3 {
	display:none;
	position:relative;
	font-size: 2vw;
	font-family: "Comic Sans MS";
	background-color: white;
	justify-content: center;
	align-items: center;
    text-align: center;
	overflow-x: auto;
	width: auto;
	border: solid gold 5px;
	border-radius: 0px 0px 5px 5px;
	padding-bottom: 12vw;
}

/* Styling for the div element that holds the elements related to instructions in the "How to Play"
   section
*/
.Flex6 {
	display:none;
	position:relative;
	font-size: 2vw;
	font-family: "Comic Sans MS";
	background-color: white;
	justify-content: center;
	align-items: center;
    text-align: center;
	overflow-x: auto;
	width: auto;
	border: solid gold 5px;
	border-radius: 0px 0px 5px 5px;
	padding-bottom: 4.5vw;
}

/* The div element that displays the enemies encountered. Positions the element at the bottom of parent element*/
.Flex4 {
	position:absolute;
	text-align: center;
	top: 25%;
}

/* The div element that displays the "Have Fun!" message at the bottom of the screen*/
.Flex5 {
	position:absolute;
	text-align: center;
	bottom: 0;
}

/* The div element that helps vertically the span element with Enemy names*/
.middle {
	display: inline-block;
}

/* Styling for the span elements that display information like score and level*/
.info{
	display: flex;
	background-color: none;
	margin: 1vw;
}

/* The styling for the span element related to the Asteroid Enemy*/
.info1{
	display: flex;
	background-color: none;
	color: brown;
	text-align: center;
	justify-content: center;
	align-items: center;
}
/* The styling for the span element related to the Rocks Enemy*/
.info2{
	display: flex;
	background-color: none;
	color: red;
	text-align: center;
	justify-content: center;
	align-items: center;
}

/* The styling for the span element related to the Rocks Enemy*/
.info3{
	display: flex;
	background-color: none;
	color: cyan;
	text-align: center;
	justify-content: center;
	align-items: center;
}

/* Styling elements for the Enemy tile in the achievements section*/
.Enemies {
    display: flex;
	background-color: none;
	justify-content: center;
	align-items: center;
    text-align: center;
	font-size: 2vw;
    font-family: "Comic Sans MS";
    color: black;
	width: auto;
	padding-top: 1vw;
}

/* Styling for some of the buttons used in the menu system*/
.Submit3 {
    display: none;
	justify-content: center;
	align-items: center;
    color: black;
    background-color: white;
	font-size: 2vw;
	width: auto;
	margin: 3% auto;
	padding: 2%;
	border: none;
	border-radius: 20px;
	font-family: "Comic Sans MS";
}

/* Changes the color of the text in the associated span element*/
mark.red {
	color: red;
	background: none;
}

mark.blue {
	color: blue;
	background: none;
}

mark.green {
	color: green;
	background: none;
}

canvas {
    display: block;
}